<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>ApiWars</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}" defer></script>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ApiWars</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <li><a href="#">Planet List</a></li>
        <li><a href="#">Voting Statistics</a></li>

        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>


<div style="margin-left: 2%; margin-right: 2%">
    <h1>Star Wars Universe planets</h1>
    <a>
        <button id="backButton" type="button" class="btn">Back</button>
    </a>
    <a>
        <button id="nextButton" type="button" class="btn btn-dark">Next</button>
    </a>
    <br><br>
    <table class ="table center table-bordered">

        <thead>
            <th>Name</th>
            <th>Diamater</th>
            <th>Climate</th>
            <th>Terrain</th>
            <th>Surface Water Percantage</th>
            <th>Population</th>
            <th>Residents</th>
        </thead>
        <tbody>


        </tbody>
    </table>
</div>

<!-- Modal -->
<div id="resident" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4  id="resident_modal_header" class="modal-title">Modal Header</h4>
      </div>
      <div id="resident_modal_text" class="modal-body">
            <table class ="table center table-bordered">

            <thead>
                <th>Name</th>
                <th>Height</th>
                <th>Mass</th>
                <th>Hair color</th>
                <th>Skin color</th>
                <th>Eye color</th>
                <th>Birth year</th>
                <th>Gender</th>
            </thead>
            <tbody>


            </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


</body>
</html>