<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>ApiWars</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-grid.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-reboot.css') }}">


  <script src="{{ url_for('static',filename='js/bootstrap.js') }}" defer></script>
  <script src="{{ url_for('static',filename='js/bootstrap.bundle.js') }}" defer></script>
  <script src="{{ url_for('static',filename='js/main.js') }}" defer></script>

    </head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Planet list</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Voting Statistics <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
    <span class="navbar-text">
      Logged in as Dombi
    </span>
  </div>
</nav>

<div style="margin-left: 2%; margin-right: 2%">
    <h1>Star Wars Universe planets</h1>
    <a>
        <button type="button" class="btn ">Cica</button>
    </a>
    <a>
        <button type="button" class="btn btn-dark">Cica</button>
    </a>
    <br><br>
    <table class ="table center table-bordered">

        <thead>
            <th>Name</th>
            <th>Diamater</th>
            <th>Climate</th>
            <th>Terrain</th>
            <th>Surface Water Percantage</th>
            <th>Population</th>
            <th>Residents</th>
        </thead>
        <tbody>


        </tbody>
    </table>
</div>

</body>
</html>