<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>ApiWars</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-grid.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap-reboot.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">


  <script src="{{ url_for('static',filename='js/bootstrap.js') }}" defer></script>
  <script src="{{ url_for('static',filename='js/bootstrap.bundle.js') }}" defer></script>
  <script src="{{ url_for('static',filename='js/main.js') }}" defer></script>

    </head>
<body>

<table class ="center table-bordered">

    <thead>
        <th>Name</th>
        <th>Diamater</th>
        <th>Climate</th>
        <th>Terrain</th>
        <th>Surface Water Percantage</th>
        <th>Population</th>
        <th>Residents</th>
    </thead>
    <tbody>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>
        <td>asd</td>


    </tbody>
</table>


</body>
</html>